/*
////////////////////////////////////////
reset.css を読み込んで全てのスタイルをなくす
////////////////////////////////////////
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
////////////////////////////////////////
reset.css では足りない初期化を追加
////////////////////////////////////////
*/

/* 全てに box-sizing: border-box; を適用 */
*, *:before, *:after {
  box-sizing: border-box;
}

/* 画像に関する初期設定 */
img {
  /* 大きい画像がはみ出さないように */
  max-width: 100%;
  /* 画像周りの無駄なスペースができないように */
  vertical-align: bottom;
}

/*
////////////////////////////////////////
初期設定
////////////////////////////////////////
*/

html {
  font-family: arial, sans-serif;
}

body {
  color: #444;
  background-color: #aaa;
}

/* 全体を真ん中に配置 */
.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  background-color: #666;
  box-shadow: rgba(0, 0, 0, .4) 0 0 8px;
  /* floatを使った場合の対策 */
  overflow: hidden; 
}

/*
////////////////////////////////////////
ここから下にCSSを書いてデザインを入れよう
////////////////////////////////////////
*/

/* HTMLのクラス分け一覧
div class="container"
  header class="header"
    h1 class="header__title"
  nav class="global-nav"
    ul class="global-nav__items"
  nav class="bread-crumbs"
  div class="top-ads"
  div class="body"
    main class="main"
      header class="main-header"
      article class="article"
        h3 class="article__title"
        p class="article__paragraph"
        p class="article__paragraph"
        h4 class="article__sub-title"
        p class="article__paragraph"
        ul class="article__unorder-list"
        blockquote class="article__blockquote"
        p class="article__paragraph"
        img src="hoge" class="article__image"
        h5 class="article__sub-sub-title"
        p class="article__paragraph"
        ol class="article__order-list"
      div class="form"
        h3 class="form__title"
        div class="form-item"  ９個
    aside class="aside"
      div class="aside-ads"
      nav class="local-nav"
  footer class="footer"
    nav class="footer-nav"
    section class="about-author"
    small class="footer-copyright"
*/

p {
  line-height: 1.8;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #9b9b9b;
  text-align: center;
}
.header__title {
  font-size: 36px;
  font-weight: bold;
}
.global-nav {
  background-color: ivory;
}
.global-nav__item {
  height: 60px;
  display: inline-block;
  border-right: 1px solid black;
}
.global-nav__link{
  text-decoration: none;
  color: #000;
}
.bread-crumbs{
  padding: 8px 16px;
}
.bread-crumbs__item{
  display: inline;
}
.bread-crumbs__item a{
  text-decoration: none;
  color: #fff;
}
.top-ads {
  background-color: #cecece;
  padding: 20px;
}
.top-ads__items {
  display: flex;
  justify-content: space-between;
}
.top-ads__item {
  width: 300px;
}

.body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.main {
  flex-basis: 640px;
  background-color: #eee;
  padding: 20px;
}
.aside {
  flex-basis: 340px;
  padding: 20px;
  background-color: #6e6e6e;
}
